<div class="page-header">
  <h1><%=t '.title', :default => "Búsqueda" %></h1>
</div>

<div id="filtro" class="pull-left">
  <%= form_tag(buscar_path, method: "get", remote: true) do %>
    Rango de Fechas:
    <%= text_field_tag 'fechaini', @fechaini, maxlength: 10, size: 12, 
		"data-behaviour" => "datepicker", "data-contarautomatico" => "",
		value: @fechaini
    %> 
    -
    <%= text_field_tag 'fechafin', @fechafin, maxlength: 10, size: 12, 
    "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %>
	<br>
		Municipio: 
    <%= collection_select :municipio, :nombre, 
      Sip::Municipio.from('sip_municipio, sip_departamento').where("sip_departamento.id=sip_municipio.id_departamento AND sip_departamento.id_pais= '170'").habilitados,
      :nombre, :nombre, { :include_blank => "" }
    %>
	<br>
		Departamento: 
    <%= collection_select :departamento, :nombre, 
      Sip::Departamento.where(id_pais: 170).habilitados, 
      :nombre, :nombre, { :include_blank => "" },
      { style: 'width: 300px' }
    %>
	<br>
    Código Principal: 
   <%= collection_select :codigo1, :codigo, 
      Sal7711Gen::Categoriaprensa.where(fechadeshabilitacion: nil).order(:codigo), 
      :codigo, lambda { |r| r.codigo + ' ' + r.nombre}, 
      { :include_blank => ""} ,
      { style: 'width: 300px' }
    %>
	<br>
    Código Secundario 1: 
    <%= collection_select :codigo2, :codigo, 
      Sal7711Gen::Categoriaprensa.where(fechadeshabilitacion: nil).order(:codigo), 
      :codigo, lambda { |r| r.codigo + ' ' + r.nombre}, 
      { :include_blank => "" },
      { style: 'width: 300px' }
    %>
	<br>
  Código Secundario 2: 
    <%= collection_select :codigo3, :codigo, 
      Sal7711Gen::Categoriaprensa.where(fechadeshabilitacion: nil).order(:codigo), 
      :codigo, lambda { |r| r.codigo + ' ' + r.nombre}, 
      { :include_blank => "" },
      { style: 'width: 300px' }
    %>
	<br>
    Fuente: 
    <%= collection_select :fuente, :nombre, 
      Sip::Fuenteprensa.habilitados, 
      :nombre, :nombre, { :include_blank => "" }
    %>
	<br>
		Página Fuente: 
    <%= text_field_tag 'pagina', @pagina, maxlength: 20, size: 20 %>
	<br>

    <%= submit_tag("Buscar") %>
  <% end %>
</div>

<div id="resultados" class="pull-right">
  <% if @entradas %>
    <%= render 'resultados_busqueda' %>
  <% end %>
</div> <!-- id: resultados -->

