<div class="page-header">
  <h1><%=t '.title', :default => "Búsqueda" %></h1>
</div>

<div id="filtro" class="pull-left">
  <%= form_tag(buscar_path, method: "get", remote: true) do %>
    Rango de Fechas:
    <%= text_field_tag 'fechaini', @fechaini, maxlength: 10, size: 12, 
		"data-behaviour" => "datepicker", "data-contarautomatico" => "",
		value: @fechaini
    %> 
    -
    <%= text_field_tag 'fechafin', @fechafin, maxlength: 10, size: 12, 
    "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %>
    <br>
    Meses:
    <%= select_tag "meses_rapido", options_for_select(@meses), 
      {multiple: true, size: 7} 
    %>
    <br>
    Municipio / Departamento: 
    <%= text_field_tag 'mundep', nil, maxlength: 20, size: 20 %>
    <%= hidden_field_tag 'mundep_id' %>
	<br>
  Categoria: 
    <%= text_field_tag 'categoria', nil, maxlength: 20, size: 20 %>
    <%= hidden_field_tag 'categoria_id' %>
	<br>
    Fuente: 
    <%= collection_select :fuente, :nombre, 
      Sip::Fuenteprensa.habilitados, 
      :nombre, :nombre, { :include_blank => "" }, { class: 'chosen-select' }
    %>
	<br>
		Página Fuente: 
    <%= text_field_tag 'pagina', @pagina, maxlength: 20, size: 20 %>
	<br>

    <%= submit_tag "Buscar" %>
    <%= button_tag "Limpiar", type: :reset %>
  <% end %>
</div>

<div id="resultados" class="pull-right">
  <% if @entradas %>
    <%= render 'resultados_busqueda' %>
  <% end %>
</div> <!-- id: resultados -->

