<% content_for :titulo do %>
  Archivo Digital de Prensa
<% end %>

<% content_for :menu do %>
  <%= menu_group do %>
    <% if !current_usuario.nil? %>
      <%= menu_item "Buscar", "/buscar" %>
    <% end %>
  <% end %>
  <%= menu_group :pull => :right do %>
    <%= menu_item "Acerca de", sip.acercade_path %>
    <% if !current_usuario.nil? %>
      <%= drop_down "Administrar" do %>
        <%= menu_item "Clave", sip.editar_registro_usuario_path %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= menu_item "Usuarios", sip.usuarios_path %>
          <%= menu_item "Tablas Básicas", sip.tablasbasicas_path %>
          <%= menu_item "Consultas por usuario", "/bitacora/admin" %>
          <%= menu_item "Consultas en tiempo", "/bitacora/tiempo" %>
        <% end %>
      <% end %>
      <%= menu_item "Salir #{current_usuario.nusuario}", sip.sign_out_path %>
    <% else %>
      <%= menu_item "Inscribirse", "/usuarios/sign_up" %>
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <div class="pie">
    <p> Contenidos con derechos reservados. Pueden ser utilizado total o 
    parcialmente, siempre y cuando se cite como fuente al CINEP/Programa 
    por la Paz.</p>
  <p>Teléfono: (57)(1) 245.6181  /  Fax: (57)(1) 287.9089  /  Email: cinep@cinep.org.co  /  Dirección: Cra 5 No. 33B- 02 Bogotá, Colombia.</p>
  <p>Sistema de información desarrollado por <a href="http://www.pasosdeJesus.org">Pasos de Jesús</a></p>
</div>
  </div>
<% end %>

<%= render template: "layouts/sal7711_gen/application" %>
